.layout .app_menu {
  background: url(../images/bg-nav-1200x1000.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.layout .app_menu .menu_list {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 18%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.layout .app_menu .menu_list a {
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-1000px);
  -moz-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  -o-transform: translateX(-1000px);
  transform: translateX(-1000px);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms ease-in 300ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms ease-in 300ms;
  -o-transition: -o-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms ease-in 300ms;
  transition: -webkit-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), -moz-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms ease-in 300ms;
  font-size: 16px;
  line-height: 2;
  clear: both;
  color: #fff;
}
.layout .app_menu .menu_list a i {
  margin: 10px 12px 10px 0;
  float: left;
}
.layout .app_menu .menu_list a.divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background: #fff;
  cursor: default;
}
.layout .app_menu .menu_list a.divider:hover {
  background: #fff;
}
.layout .app_menu .menu_list a:nth-child(1) {
  transition-delay: 0s;
}
.layout .app_menu .menu_list a:nth-child(2) {
  transition-delay: 0.04s;
}
.layout .app_menu .menu_list a:nth-child(3) {
  transition-delay: 0.08s;
}
.layout .app_menu .menu_list a:nth-child(4) {
  transition-delay: 0.12s;
}
.layout .app_menu .menu_list a:nth-child(5) {
  transition-delay: 0.16s;
}
.layout .app_menu .menu_list a:nth-child(6) {
  transition-delay: 0.2s;
}
.layout .app_menu .menu_list a:nth-child(7) {
  transition-delay: 0.24s;
}
.layout .app_menu .menu_list a:nth-child(8) {
  transition-delay: 0.28s;
}
.layout .app_menu .menu_list a:nth-child(9) {
  transition-delay: 0.32s;
}
.layout .app_menu .menu_list a:nth-child(10) {
  transition-delay: 0.36s;
}
.layout .app_menu .menu_list a:nth-child(11) {
  transition-delay: 0.4s;
}
.layout .app_menu .menu_list a:nth-child(12) {
  transition-delay: 0.44s;
}
.layout .header-section {
  height: 50px;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1039;
}
.layout .header-section .header_con {
  height: 50px;
  position: relative;
}
.layout .header-section .header_con .slide_btn {
  height: 50px;
  width: 50px;
}
.layout .header-section .header_con .slide_btn a {
  display: block;
  width: 100%;
  height: 100%;
}
.layout .header-section .header_con .slide_btn a i {
  float: left;
  margin: 15px 0;
}
.layout .header-section .header_con .slide_btn a:first-child {
  margin-left: 15px;
}
.layout .header-section .header_con .slide_btn a span {
  font-size: 16px;
}
.layout .header-section .header_con .menu_list li a {
  display: block;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
  height: 50px;
  line-height: 50px;
}
.layout .header-section .header_con .menu_list li a i {
  margin: 15px 0;
  float: left;
  display: none;
}
.layout .header-section .header_con h1 {
  width: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.layout .header-section .header_con h1 a {
  color: #fff;
}
.layout .header-section .header_con h1 a:hover {
  color: #fff;
}
.layout .header-section .header_con .menu-right {
  float: right;
  margin-right: 15px;
}
.layout .header-section .header_con .menu-right .notification-menu {
  list-style: none;
}
.layout .header-section .header_con .menu-right .notification-menu > li {
  float: left;
  height: 50px;
  position: relative;
}
.layout .header-section .header_con .menu-right .notification-menu > li.course_fast_menu {
  line-height: 50px;
  padding-right: 10px;
}
.layout .header-section .header_con .menu-right .notification-menu > li.course_fast_menu a {
  display: block;
  color: #fff;
  font-size: 14px;
}
.layout .header-section .header_con .menu-right .notification-menu > li.course_fast_menu a i {
  float: left;
  margin: 15px 0;
  display: none;
}

.layout .header-section.index_header {
  background: none;
}
.layout .main_warpper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 3px;
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.535, 1.05);
  -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.535, 1.05);
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.535, 1.05);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.535, 1.05);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.layout .main_warpper .header-section {
  position: static;
}
.layout .main_warpper .banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-hero-1200x6002.jpg") center #287DA6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: white;
    height:300px;
    text-align: center;
 }

.layout .main_warpper .banner .header-section {
  background: none;
}
.layout .main_warpper .banner .con {
  margin-top: 130px;
  position: absolute;
  right: auto;
  bottom: auto;
  left: auto;
  width: 100%;
  height: auto;
  overflow: visible;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  color: #fff;
}
.layout .main_warpper .banner .con h2 {
  font-size: 40;
  line-height: 1.5;
}
.layout .main_warpper .banner .con h3 {
  font-size: 12px;
  line-height: 1.5;
}

.layout .main_warpper .main_content {
  margin-top: 50px;
}

.layout .content_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}
.layout.menu_open .main_warpper {
  -webkit-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  -moz-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  -o-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
}
.layout.menu_open .content_overlay {
  z-index: 1;
  -webkit-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  -moz-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  -o-transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
  transform: translate3d(35%, 0px, 0px) scale3d(0.85, 0.85, 1);
}
.layout.menu_open .app_menu .menu_list a {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}


@media screen and (max-width: 600px)  {
  .layout .header-section .header_con .menu-right {
    display: none;
  }
  .layout .app_menu .menu_list {
   width: 50%;
   left: 30%;
 }
 .layout .app_menu .menu_list a {
    font-size: 16px;
    line-height: 25px;
    clear: both;
  }
  .header-section .header_con .menu_list{
    display: none;
  }

}

@media screen and (min-width:600px) and (max-width:960px){
  .layout .app_menu .menu_list {
   width: 50%;
   left: 35%;
 }
 .layout .app_menu .menu_list a {
    font-size: 18px;
    line-height: 25px;
    clear: both;
  }
}

@media screen and (min-width:960px){

}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
